<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ofertas de cafe</title>



    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <link rel="stylesheet" href="style.css">

    <!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->

    <!-- Load polyfills to support older browsers -->
    <script src="http://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous">
    </script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue-moment@4.0.0/dist/vue-moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>


</head>

<body>

    <div class="container-fluid">




        <div id="vapp">


            <b-modal id="coffeeOfferingDetails" ref="coffeeOfferingDetails" size="xl" title="Detalle Unidad Productiva">

                <div class="media mb-5 p-2">
                    <img width="64" height="64" :src="item.coverPhoto | defaultCover" class="mr-3 img-img-thumbnail"
                        alt="..." />
                    <div class="media-body">
                        <span class="float-right text-black-50">
                            {{
                                item.publicationDate | moment("DD-MMM-YYYY")
                                }}
                        </span>
                        <h5 class="mt-0">{{ item.name }}</h5>
                        <div class="mb-2">
                            <span v-for="att in item.tags" :key="att" class="badge badge-secondary mr-2"
                                :title="att">{{ att }}</span>
                        </div>

                        <div class="text-muted mb-3">{{ item.description }}</div>

                        <div class="mb-3">

                            <div>
                                <span class="text-secondary">{{ item.city}} - {{ item.town}}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Ubicacion .</span>
                                lon: {{ item.location ? item.location.longitude : 0 }} - lat:
                                {{ item.location ? item.location.latitude : 0 }}
                            </div>
                            <div>
                                <span class="text-secondary">Altitude .</span>
                                {{ item.altitude}}
                            </div>
                            <div>
                                <span class="text-secondary">Area .</span>
                                {{item.cultivatedArea}} / {{ item.totalArea }}
                            </div>
                            <div>
                                <span class="text-secondary">Afiliado .</span>
                                {{ item.ownerName }}
                            </div>


                            <div>
                                <span class="text-secondary">Tipo Unidad Productiva .</span>
                                {{ item.productiveUnitType}}
                            </div>

                            <div>
                                <span class="text-secondary">Contact .</span>
                                {{ item.website}}
                                <br />
                                <span class="badge badge-info" v-for="it in item.phones" :key="it">{{ it}}</span>
                                <br />
                                <span class="badge badge-info" v-for="it in item.email" :key="it">{{ it}}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Soil Types .</span>
                                <span class="badge badge-info" v-for="it in item.soilTypes"
                                    :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Varieties .</span>
                                <span class="badge badge-info" v-for="it in item.varieties"
                                    :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Processes .</span>
                                <span class="badge badge-info" v-for="it in item.processes"
                                    :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">AnualProduction .</span>
                                {{ item.anualProduction}} toneladas metricas anuales
                            </div>

                            <div>
                                <span class="text-secondary">Shadow Types .</span>
                                <span class="badge badge-info" v-for="it in item.shadowTypes"
                                    :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Drying Types .</span>
                                <span class="badge badge-info" v-for="it in item.dryingTypes"
                                    :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Certifications .</span>
                                <span class="badge badge-info" v-for="it in item.certifications"
                                    :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Awards .</span>
                                <span class="badge badge-info" v-for="it in item.awards"
                                    :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Amenities .</span>
                                <span class="badge" v-for="it in item.amenities" :key="it">{{ it }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Services .</span>
                                <span class="badge" v-for="it in item.services" :key="it">{{ it }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Gallery .</span>

                                <b-container fluid class="p-4">
                                    <b-row>
                                        <b-col v-for="it in item.gallery" :key="it">
                                            <b-img thumbnail fluid :src="it" :alt="it" width="125" height="125"></b-img>
                                        </b-col>
                                    </b-row>
                                </b-container>




                            </div>

                        </div>
                    </div>
                </div>


            </b-modal>


            <b-modal id="coffeeOfferingFilter" ref="coffeeOfferingFilter" title="Busqueda de Ofertas de Cafe"
                v-on:ok="getFilteredCoffeeOfferings">

                <h5>Por favor seleccione las opciones que necesita para filtrar</h5>


                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" autocomplete="on"
                        v-model="filterOptions.name" />
                </div>

                <div class="form-group">
                    <label for="altitudes">Altitudes</label>
                    <select id="altitudes" v-model="filterOptions.altitudes" multiple class="form-control">
                        <option v-for="item in options['altitudes']" :value="item.id">{{ item.name}}
                            [{{item.minimum}}-{{item.maximum}}] </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="processes">Procesos</label>
                    <select id="processes" v-model="filterOptions.processes" multiple class="form-control">
                        <option v-for="item in options['processes']" :value="item.id">{{ item.name}}</option>
                    </select>
                </div>

                <!-- <div class="form-group">
                    <label for="certifications">Certificaciones</label>
                    <select id="certifications" v-model="filterOptions.certifications" multiple class="form-control">
                        <option v-for="item in options['certifications']" :value="item.id">{{ item.name}}</option>
                    </select>
                </div> -->

                <!-- <div class="form-group">
                    <label for="regions">Regiones</label>
                    <select id="regions" v-model="filterOptions.regions" multiple class="form-control">
                        <option v-for="item in options['regions']" :value="item">{{ item}}</option>
                    </select>
                </div> -->


                <div class="form-group">
                    <label for="varieties">Variedades</label>
                    <select id="varieties" v-model="filterOptions.varieties" multiple class="form-control">
                        <option v-for="item in options['varieties']" :value="item.id">{{ item.name}}</option>
                    </select>
                </div>

                <!-- <div class="form-group">
                    <label for="awards">Premios</label>
                    <select id="awards" v-model="filterOptions.awards" multiple class="form-control">
                        <option v-for="item in options['awards']" :value="item.id">{{ item.name}}</option>
                    </select>
                </div> -->

                <!-- <button type="button" class="btn btn-outline-primary" v-on:click="getFilteredCoffeeOfferings">Get
                    Filtered Productive Units</button> -->


            </b-modal>

            <h1>
                <span class="badge badge-secondary">{{this.total}}</span> Resultados
            </h1>


            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div>
                        <b-button variant="link" v-on:click="showFilterModal">
                            Filtrar resultados
                            <i class="fa fa-fw fa-filter"></i>
                        </b-button>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="mr-3">Mostrar:</div>
                    <div>
                        <b-form-radio-group v-model="filterOptions.pageSize" name="radio-inline" size="sm"
                            v-on:change="getFilteredCoffeeOfferings">
                            <b-form-radio name="some-radios" value="1">1</b-form-radio>
                            <b-form-radio name="some-radios" value="10">10</b-form-radio>
                            <b-form-radio name="some-radios" value="25">25</b-form-radio>
                            <b-form-radio name="some-radios" value="50">50</b-form-radio>
                        </b-form-radio-group>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="mr-3">Ordenar por</div>
                    <div>
                        <b-form-select v-model="filterOptions.sort" size="sm" v-on:change="getFilteredCoffeeOfferings">
                            <option value="p|asc">Fecha de publicacion</option>
                            <option value="v|asc">Fecha de vencimiento</option>
                        </b-form-select>
                    </div>
                </div>
            </div>



            <div class="row">

                <div class="col-sm-12">


                    <div v-if="dataList && dataList.length>0">

                        <div>
                            <span class="badge" style="font-size: xx-large;">{{total}}</span> results for
                            <span v-for="key in Object.keys(filterOptions)" :key="key"
                                v-if="filterOptions[key].length>0">

                                {{key}} : {{ filterOptions[key]}} +
                            </span>
                        </div>


                        <div class="media border mb-5 p-2" v-for="item in dataList" :key="item.id">
                            <div>
                                <img :src="'https://localhost:5001/uploads/' + item.coverPhoto"
                                    class="img-thumbnail mr-3" alt="..." style="width: 120px;height: 120px;" />
                                <div class="text-secondary mt-3">{{ item.productiveUnitName }}</div>
                            </div>

                            <div class="media-body">
                                <span class="float-right text-black-50" style="font-size: 0.9em; font-weight: 400;">
                                    {{
          item.publicationDate | moment("lll")
          }}
                                </span>
                                <h5 class="mt-0">
                                    <span class="badge badge-info">{{ item.id }}</span>
                                    {{ item.name }}
                                </h5>

                                <div class="text-muted mb-3">{{ item.description }}</div>

                                <div class="mb-3">
                                    <div class="float-right">
                                        <div class="text-black-50" style="font-size: 1.1em; font-weight: 600;">
                                            {{ item.quantity }} {{ item.packing }} de {{ item.sizePerUnit }}
                                            {{ item.unitOfMeasurement }} c/u
                                        </div>

                                        <!-- <button class="btn btn-dark btn-sm" v-on:click="clickAddToCart(item)">Add To Cart</button> -->
                                    </div>

                                    <div class="mb-2">
                                        <span class="badge badge-dark"
                                            style="font-size: 1.2em;">{{item.scaScore}}</span>
                                        <i class="fa fa-fw fa-map"></i>
                                        {{ item.location }} .
                                        <i class="fa fa-fw fa-cog"></i>
                                        {{ item.process }} .
                                        <i class="fa fa-fw fa-chevron-up"></i>
                                        {{ item.altitude }}
                                    </div>

                                    <div class="mb-2">
                                        <span v-for="variety in item.varieties" :key="variety"
                                            class="badge badge-info mr-2" :title="variety">{{ variety }}</span>
                                    </div>

                                    <div class="mb-2">
                                        <span class="text-secondary">Fecha de cosecha .</span>
                                        {{ item.dateOfHarvest | moment("lll") }}
                                        <br />
                                        <span class="text-secondary">Fecha de vencimiento .</span>
                                        {{ item.expirationDate | moment("lll") }}
                                    </div>

                                    <!-- <div>
            <span class="text-secondary">Ubicacion .</span>
            {{ item.location }}
          </div>
          <div>
            <span class="text-secondary">Proceso .</span>
            {{ item.process }}
          </div>
          <div>
            <span class="text-secondary">Variedades .</span>
            <span
              v-for="variety in item.varieties"
              :key="variety"
              class="badge badge-info mr-2"
              :title="variety"
            >{{ variety }}</span>
          </div>

          <div>
            <span class="text-secondary">Altitud .</span>
            {{ item.altitude }}
          </div>

          <div>
            <span class="text-secondary">Fecha de cosecha .</span>
            {{ item.dateOfHarvest | moment("lll") }}
          </div>-->
                                </div>

                                <div class="mt-2">
                                    <span v-for="att in item.tags" :key="att" class="badge badge-secondary mr-2"
                                        :title="att">{{ att }}</span>
                                </div>
                            </div>
                        </div>


                        <div>
                            <b-pagination :total-rows="total" :per-page="filterOptions.pageSize"
                                v-model="filterOptions.page" v-on:change="getFilteredCoffeeOfferings" align="center" />
                        </div>

                    </div>

                    <div v-if="dataList && dataList.length==0">

                        <div>
                            <span class="badge" style="font-size: xx-large;">{{total}}</span> results for
                            <span v-for="key in Object.keys(filterOptions)" :key="key"
                                v-if="filterOptions[key].length>0">

                                {{key}} : {{ filterOptions[key]}} +
                            </span>
                        </div>

                        <div class="alert alert-warning text-center mt-3">No existen datos para este criterio</div>
                    </div>

                </div>

            </div>

            <div class="row mt-5">
                <div class="col-md-12">
                    <div>Opciones seleccionadas</div>

                    <code>
                            {{filterOptions}}
                        </code>
                </div>
            </div>

        </div>

    </div>
</body>

<script type="text/javascript">
    //var endPoint = 'https://coffeesearch.azurewebsites.net';
    var endPoint = 'https://localhost:5001';

    // Vue.use(require('vue-moment'));

    Vue.component('ColoredBox', {
        template: `<div class="box"> Colored Box </div>`
    })


    Vue.component('ProductiveUnit', {
        template: `<div class="blogpost">
    <div class="blogpost-title"> {{item.id}} - {{item.name}} </div>
    <div class="blogpost-meta"> {{item.town}}, {{item.city}} </div>
</div>`,
        props: {
            item: {
                type: Object,
                required: true
            }
        }
    })

    Vue.filter('moment', function (value, format) {
        if (value) {
            return moment(String(value)).format(format);
        }
    });

    const vueApp = new Vue({
        el: '#vapp',
        data: {
            currentPage: 1,
            numberOfPages: 1,
            total: 0,
            loading: false,
            display: 'redbox',
            serverRoot: endPoint,
            item: {},
            dataList: [],
            // optionsSelected:
            // {
            //     "altitudes": [],
            //     "awards": [],
            //     "certifications": [],
            //     "processes": [],
            //     "regions": [],
            //     "shades": [],
            //     "varieties": [],
            //     "soils": [],
            //     "dryings": []
            // },

            filterOptions: {
                "name": "",
                "processes": [],
                "altitudes": [],
                "certifications": [],
                "regions": [],
                "awards": [],
                "varieties": [],
                "pageSize": 10,
                "sort": "p|asc",
                "page": 1
            },

            options: {
                "altitudes": [],
                "awards": [],
                "certifications": [],
                "processes": [],
                "regions": [],
                "shades": [],
                "varieties": [],
                "soils": [],
                "dryings": []
            }
        },

        filters: {
            pretty: function (value) {
                return JSON.stringify(JSON.parse(value), null, 2);
            },
            defaultCover(fileName) {
                if (fileName == null || fileName == "") {
                    return `${endPoint}/uploads/coverPhoto.png`;
                } else {
                    return `${endPoint}/uploads/${fileName}`;
                }
            }
        },

        methods: {

            showFilterModal() {

                this.$refs.coffeeOfferingFilter.show();

            },

            showDetails(item) {

                this.loading = true;
                axios
                    .get(`${endPoint}/api/coffeeofferings/getone/${item.id}`)
                    .then(response => {
                        this.item = response.data;
                        this.loading = false;
                    })
                    .catch(error => {
                        this.loading = false;
                    });


                this.$refs.coffeeOfferingDetails.show();
            },


            getAllCoffeeOfferings() {
                this.loading = true;
                axios
                    .get(`${endPoint}/api/coffeeofferings/getall`)
                    .then(response => {
                        this.loading = false;
                        this.dataList = response.data;
                        this.total = response.data.length;

                    })
                    .catch(error => {
                        this.loading = false;
                    });
            },

            getFilteredCoffeeOfferings() {
                this.loading = true;
                axios
                    .post(`${endPoint}/api/coffeeofferings/filter`, this.filterOptions)
                    .then(response => {
                        this.loading = false;
                        this.dataList = response.data.data;
                        this.total = response.data.total;
                        this.currentPage = response.data.currentPage;
                        this.numberOfPages = response.data.lastPage;
                        this.$refs.coffeeOfferingFilter.hide();
                    })
                    .catch(error => {
                        this.loading = false;
                    });
            },


            getCoffeeOfferingsOptions() {
                this.loading = true;
                axios
                    .get(`${endPoint}/api/coffeeofferings/options`)
                    .then(response => {
                        this.options = response.data;
                        this.loading = false;
                    })
                    .catch(error => {
                        this.loading = false;
                    });
            },

            addProperty(propertyName) {
                console.log(this.optionsSelected[propertyName]);
            },

            filterResults() {
                console.log("filtering results");
                alert("Que pasa cuando filtro???");
            }
        },

        mounted() {
            this.getCoffeeOfferingsOptions();
        }



    })
</script>


</html>