<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Live Server</title>


    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" />


    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <link rel="stylesheet" href="style.css">

    <!-- Load polyfills to support older browsers -->
    <script src="http://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous">
    </script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

    <link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css" />
    <script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="//unpkg.com/vue2-leaflet"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

</head>

<body>

    <div class="container-fluid">

        <div id="vapp" class="m-4">

            <b-modal id="productiveUnitFilter" ref="productiveUnitFilter" size="lg" title="Busqueda de Ofertas de Cafe"
                v-on:ok="getFilteredProductiveUnits">

                <h5>Por favor seleccione las opciones que necesita para filtrar</h5>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="name">Farm Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Farm Name"
                            autocomplete="on" v-model="filterOptions.name" />
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="minAltitude">Altitude range (feet)</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="number" id="minAltitude" name="name" class="form-control" placeholder="Min"
                                    v-model="filterOptions.minAltitude" />
                            </div>
                            <div class="col-sm-6">
                                <input type="number" id="maxAltitude" name="name" class="form-control" placeholder="Max"
                                    v-model="filterOptions.maxAltitude" />
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="form-group">
                    <label for="varieties">Varieties</label>
                    <select id="varieties" v-model="filterOptions.varieties" multiple class="form-control">
                        <option v-for="item in options['varieties']" :value="item.id">{{ item.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="processes">Processes</label>
                    <select id="processes" v-model="filterOptions.processes" multiple class="form-control">
                        <option v-for="item in options['processes']" :value="item.id">{{ item.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="certifications">Certifications</label>
                    <select id="certifications" v-model="filterOptions.certifications" multiple class="form-control">
                        <option v-for="item in options['certifications']" :value="item.id">{{ item.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="regions">Regions</label>
                    <select id="regions" v-model="filterOptions.regions" multiple class="form-control">
                        <option v-for="item in options['regions']" :value="item">{{ item}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="awards">Awards</label>
                    <select id="awards" v-model="filterOptions.awards" multiple class="form-control">
                        <option v-for="item in options['awards']" :value="item.id">{{ item.name}}</option>
                    </select>
                </div>
                <!-- <div class="text-center">
                <b-btn variant="primary" v-on:click="getFilteredProductiveUnits">Let's Go</b-btn>
            </div> -->



            </b-modal>

            <!-- <h1>
                <span class="badge badge-secondary">{{this.total}}</span> Resultados
            </h1> -->


            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div>
                        <b-input-group>
                            <b-form-input placeholder="Por favor busque aqui"
                                v-model="filterOptions.name">
                            </b-form-input>
                            <b-input-group-append>
                                <b-button v-on:click="getFilteredProductiveUnits"><i class="fa fa-search"></i>
                                </b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </div>
                </div>
                <div class="d-flex">
                    <div>
                        <b-button variant="link" v-on:click="showFilterModal">
                            Filtrar resultados
                            <i class="fa fa-fw fa-filter"></i>
                        </b-button>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="mr-3">Mostrar:</div>
                    <div>
                        <b-form-radio-group v-model="filterOptions.pageSize" name="radio-inline" size="sm"
                            v-on:change="getFilteredProductiveUnits">
                            <b-form-radio name="some-radios" value="1">1</b-form-radio>
                            <b-form-radio name="some-radios" value="10">10</b-form-radio>
                            <b-form-radio name="some-radios" value="25">25</b-form-radio>
                            <b-form-radio name="some-radios" value="50">50</b-form-radio>
                        </b-form-radio-group>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="mr-3">Ordenar por</div>
                    <div>
                        <b-form-select v-model="filterOptions.sort" size="sm" v-on:change="getFilteredProductiveUnits">
                            <option value="n|asc">Nombre</option>
                            <option value="a|asc">Area</option>
                        </b-form-select>
                    </div>
                </div>
            </div>


            <!-- <h4>What are you looking for?</h4> -->


            <!-- <div class="row mb-5" v-if="!showFiltersFlag">

            <div class="col">

                <b-input-group class="mt-3">
                    <b-form-input placeholder="Search forn name, location or description" v-model="filterOptions.name">
                    </b-form-input>
                    <b-input-group-append>
                        <b-button v-on:click="searchProductiveUnits"><i class="fa fa-search"></i></b-button>
                    </b-input-group-append>
                </b-input-group>
                <div>
                    <b-link class="text-info" v-on:click="toggleFilters">or be more specific</b-link>
                </div>



            </div>
        </div> -->



            <!-- <div class="row mb-5">
            <div class="col-md-12">
                <div>Filtros activos</div>
                <div>
                    <div v-for="key in Object.keys(filterOptions)" :key="key">
                        <code>
                {{key}} : {{ filterOptions[key]}}
                    </code>
                    </div>
                </div>
            </div>
        </div> -->

            <div class="row">

                <div class="col-sm-4">



                    <div v-if="dataList && dataList.length>0">
                        <div class="float-right">
                            <b-btn size="sm" v-on:click="showMap = !showMap" title="Mostrar Mapa">
                                <i class="fa fa-fw fa-map"></i>
                            </b-btn>
                        </div>

                        <div>
                            <span class="badge" style="font-size: xx-large;">{{total}}</span> results for
                            <span v-for="key in Object.keys(filterOptions)" :key="key"
                                v-if="filterOptions[key].length>0">

                                {{key}} : {{ filterOptions[key]}} +
                            </span>


                        </div>

                        <div class="media m-3 p-2 border" v-for="item in dataList" :key="item.id">
                            <img width="64" height="64" :src="item.coverPhoto | defaultCover"
                                class="mr-3 img-img-thumbnail" alt="..." v-on:click="showDetails(item)" />
                            <div class="media-body">
                                <div class="d-flex justify-content-end">
                                    <div class="flex-grow-1">
                                        <div class="mt-0" v-on:click="showDetails(item)">{{ item.name }}</div>
                                        <div class="text-secondary">{{ item.town}} - {{ item.city}}</div>
                                        <div class="text-black-50 font-italic mb-3">{{ item.description }}</div>
                                        <div class="text-muted mb-3">
                                            <span v-for="att in item.tags" :key="att" class="badge badge-secondary mr-2"
                                                :title="att">{{ att }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-column">
                                        <div class="text-black-50">
                                            <i class="fa fa-lg fa-fw fa-caret-square-up"></i>
                                            {{item.altitude | number}} ft above sea level
                                        </div>
                                        <div class="text-black-50">
                                            <i class="fa fa-lg fa-fw fa-chart-pie"></i>
                                            {{item.totalArea | number}} mz
                                        </div>
                                        <div class="text-black-50">
                                            <i class="fa fa-lg fa-fw fa-tree"></i>
                                            {{item.anualProduction | number}} ton
                                        </div>
                                        <div v-if="showMap" class="text-primary" style="cursor: pointer;"
                                            v-on:click="flyTo(item)">

                                            <i class="fa fa-lg fa-fw fa-plane"></i> Fly To
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div>
                            <b-pagination :total-rows=" total" :per-page="filterOptions.pageSize"
                                v-model="filterOptions.page" v-on:change="getFilteredProductiveUnits" align="center" />
                        </div>
                    </div>

                    <div v-if="dataList && dataList.length==0">


                        <div>
                            <span class="badge" style="font-size: xx-large;">{{total}}</span> results
                            for
                            <span v-for="key in Object.keys(filterOptions)" :key="key"
                                v-if="filterOptions[key].length>0">

                                {{key}} : {{ filterOptions[key]}} +
                            </span>
                        </div>

                        <div class="alert alert-warning text-center mt-3">No existen datos para este
                            criterio</div>
                    </div>


                </div>

                <div class="col-sm-8">
                    <div style="height: 80vh; width: 100%" v-if="showMap">
                        <div class="text-center small mt-3">
                            <p>Center is at {{ currentCenter }} and the zoom is: {{ currentZoom }}</p>
                        </div>

                        <l-map ref="myMap" :zoom="zoom" :center="center" :options="mapOptions"
                            v-on:update:center="centerUpdate" v-on:update:zoom="zoomUpdate">


                            <l-marker v-for="marker in dataList" :key="marker.id" :visible="true"
                                :lat-lng="{lat:marker.latitude, lon:marker.longitude}">
                                <l-popup
                                    :content=" `<span class='text-primary'>${marker.name}</span> <br/> (${marker.latitude} ${marker.longitude}) <br/> ${marker.town} - ${marker.city} ` "
                                    v-on:click="showDetails(marker)" />
                                <!-- <l-tooltip :options="{ permanent: true, interactive: true }"
                                    :content=" `<span class='text-primary'>${marker.name}</span> <br/> (${marker.latitude} ${marker.longitude}) <br/> ${marker.town} - ${marker.city} ` " /> -->
                            </l-marker>

                            <l-tile-layer :url="url" :attribution="attribution" />

                        </l-map>
                    </div>
                </div>

            </div>



            <b-modal id="productiveUnitDetails" ref="productiveUnitDetails" size="lg" title="Detalle Unidad Productiva">

                <div class="media mb-5 p-2">
                    <img width="64" height="64" :src="item.coverPhoto | defaultCover" class="mr-3 img-img-thumbnail"
                        alt="..." />
                    <div class="media-body">
                        <span class="float-right text-black-50">
                            {{
                            item.publicationDate 
                            }}
                        </span>
                        <h5 class="mt-0">{{ item.name }}</h5>

                        <div>
                            <span class="text-secondary"> {{ item.town}} - {{ item.city}}</span>
                        </div>
                        <div class="mb-2">
                            <span v-for="att in item.tags" :key="att" class="badge badge-secondary mr-2"
                                :title="att">{{ att }}</span>
                        </div>

                        <div class="text-muted mb-3">{{ item.description }}</div>

                        <div class="mb-3">



                            <div>
                                <span class="text-secondary">Location .</span>
                                {{ item.latitude }} , {{ item.longitude}}
                            </div>
                            <div>
                                <span class="text-secondary">Altitude .</span>
                                {{ item.minAltitudeSource  | number}} - {{ item.maxAltitudeSource  | number}} pies s.n.m
                            </div>
                            <div>
                                <span class="text-secondary">Area .</span>
                                {{item.cultivatedAreaSource  | number}}/{{item.totalAreaSource  | number}} manzanas
                            </div>
                            <div>
                                <span class="text-secondary">AnualProduction .</span>
                                {{item.matureProduction  | number}} maduro / {{item.pergaminoProduction  | number}}
                                pergamino /
                                {{item.goldProduction  | number}} oro quintales anuales
                            </div>
                            <hr />
                            <div>
                                <span class="text-secondary">Afiliate .</span>
                                {{ item.ownerName }}
                            </div>
                            <div>
                                <span class="text-secondary">Type of Productive Unit .</span>
                                {{ item.productiveUnitType}}
                            </div>

                            <div>
                                <span class="text-secondary">Contact .</span>
                                {{ item.website}}
                                <br /> phones.
                                <span v-for="it in item.phones" :key="it">{{ it}}</span>
                                <br /> emails.
                                <span v-for="it in item.email" :key="it">{{ it}}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Soil Types .</span>
                                <span class="badge" v-for="it in item.soilTypes" :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Varieties .</span>
                                <span class="badge " v-for="it in item.varieties" :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Processes .</span>
                                <span class="badge " v-for="it in item.processes" :key="it.id">{{ it.name }}</span>
                            </div>


                            <div>
                                <span class="text-secondary">Shadow Types .</span>
                                <span class="badge " v-for="it in item.shadowTypes" :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Drying Types .</span>
                                <span class="badge " v-for="it in item.dryingTypes" :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Certifications .</span>
                                <span class="badge " v-for="it in item.certifications" :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Awards .</span>
                                <span class="badge" v-for="it in item.awards" :key="it.id">{{ it.name }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Amenities .</span>
                                <span class="badge" v-for="it in item.amenities" :key="it">{{ it }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Services .</span>
                                <span class="badge" v-for="it in item.services" :key="it">{{ it }}</span>
                            </div>

                            <div>
                                <span class="text-secondary">Gallery .</span>
                                <b-container fluid class="p-4">
                                    <b-row>
                                        <b-col v-for="it in item.gallery" :key="it">
                                            <b-img thumbnail fluid :src="it" :alt="it" width="125" height="125"></b-img>
                                        </b-col>
                                    </b-row>
                                </b-container>
                            </div>

                        </div>
                    </div>
                </div>


            </b-modal>







        </div>
    </div>
    <script type="text/javascript">
        // var endPoint = 'https://coffeesearch.azurewebsites.net';
        var endPoint = 'https://localhost:5001';
        // var endPoint = 'http://localhost:55706/umbraco';

        var imagesEndPoint = 'https://coffeesearch.azurewebsites.net';

        // Vue.use(require('vue-moment'));


        numeral.register("locale", "gt", {
            delimiters: {
                thousands: ",",
                decimal: "."
            },
            abbreviations: {
                thousand: "k",
                million: "m",
                billion: "b",
                trillion: "t"
            },
            ordinal: function (number) {
                return number === 1 ? "er" : "ero";
            },
            currency: {
                symbol: "Q"
            }
        });

        numeral.locale("gt");

        Vue.filter("number", function (value) {
            return numeral(value).format("0,0.00");
        });



        Vue.component('ColoredBox', {
            template: `<div class="box"> Colored Box </div>`
        })


        Vue.component('ProductiveUnit', {
            template: `<div class="blogpost">
<div class="blogpost-title"> {{item.id}} - {{item.name}} </div>
<div class="blogpost-meta"> {{item.town}}, {{item.city}} </div>
</div>`,
            props: {
                item: {
                    type: Object,
                    required: true
                }
            }
        })

        const vueApp = new Vue({
            el: '#vapp',
            components: {
                LMap: window.Vue2Leaflet.LMap,
                LTileLayer: window.Vue2Leaflet.LTileLayer,
                LMarker: window.Vue2Leaflet.LMarker,
                LPopup: window.Vue2Leaflet.LPopup,
                LTooltip: window.Vue2Leaflet.LTooltip,
            },
            data() {
                return {
                    currentPage: 1,
                    numberOfPages: 1,
                    total: 0,
                    loading: false,
                    display: 'redbox',
                    showFiltersFlag: false,
                    serverRoot: endPoint,
                    item: {},
                    dataList: null,
                    optionsSelected: {
                        "altitudes": [],
                        "awards": [],
                        "certifications": [],
                        "cities": [],
                        "processes": [],
                        "regions": [],
                        "shades": [],
                        "varieties": [],
                        "soils": [],
                        "dryings": []
                    },

                    filterOptions: {
                        "name": "",
                        "city": 0,
                        "town": 0,
                        "processes": [],
                        "altitudes": [],
                        "minAltitude": 0,
                        "maxAltitude": 0,
                        "certifications": [],
                        "regions": [],
                        "awards": [],
                        "varieties": [],
                        "pageSize": 10,
                        "sort": "n|asc",
                        "page": 1,
                        "approved": true
                    },

                    options: {
                        "altitudes": [],
                        "awards": [],
                        "certifications": [],
                        "cities": [],
                        "processes": [],
                        "regions": [],
                        "shades": [],
                        "varieties": [],
                        "soils": [],
                        "dryings": []
                    },
                    zoom: 8,
                    center: L.latLng(15.823966, -90.186768),
                    url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                    withPopup: L.latLng(15.866242, -90.203247),
                    withTooltip: L.latLng(15.866242, -90.203247),
                    currentZoom: 8,
                    currentCenter: L.latLng(15.823966, -90.186768),
                    showParagraph: false,
                    mapOptions: {
                        zoomSnap: 0.5
                    },
                    showMap: false,
                    markers: [{
                            id: 'm1',
                            position: {
                                lat: 15.823966,
                                lng: -90.186768
                            },
                            tooltip: 'Finca Victoria',
                            draggable: false,
                            visible: true
                        },
                        {
                            id: 'm2',
                            position: {
                                lat: 14.82799134735208,
                                lng: -90.615234375
                            },
                            tooltip: 'Finca el Pilar',
                            draggable: false,
                            visible: true
                        }
                    ]
                }
            },

            filters: {
                pretty: function (value) {
                    return JSON.stringify(JSON.parse(value), null, 2);
                },
                defaultCover(fileName) {
                    if (fileName == null || fileName == "") {
                        return `${imagesEndPoint}/uploads/coverPhoto.png`;
                    } else {
                        return `${imagesEndPoint}/uploads/${fileName}`;
                    }
                },
                moment: function (date, format) {
                    return moment(date).format(format);
                }
            },

            methods: {

                flyTo(marker) {

                    this.$nextTick(() => {

                        let loc = {
                            lat: marker.latitude,
                            lon: marker.longitude
                        };

                        console.log("flying to...", loc);

                        console.log(this.$refs.myMap.mapObject);


                        this.$refs.myMap.mapObject.flyTo(loc, 13);

                    })
                },

                alert(marker) {
                    alert(marker.id + '-' + marker.name);
                },

                toggleFilters() {
                    this.showFiltersFlag = !this.showFiltersFlag;
                },

                showFilterModal() {

                    this.$refs.productiveUnitFilter.show();

                },

                showDetails(item) {
                    //getone/
                    this.loading = true;
                    axios
                        .get(`${endPoint}/api/productiveunits/${item.id}/flat`)
                        .then(response => {
                            this.item = response.data;
                            this.loading = false;
                        })
                        .catch(error => {
                            this.loading = false;
                        });


                    this.$refs.productiveUnitDetails.show();
                },


                getAllProductiveUnits() {
                    this.loading = true;
                    axios
                        .get(`${endPoint}/api/productiveunits/getall`)
                        .then(response => {
                            this.dataList = response.data;
                            this.loading = false;
                        })
                        .catch(error => {
                            this.loading = false;
                        });
                },

                getFilteredProductiveUnits() {
                    this.loading = true;
                    axios
                        .post(`${endPoint}/api/productiveunits/filter`, this.filterOptions)
                        .then(response => {
                            this.dataList = response.data.data;
                            this.total = response.data.total;
                            this.currentPage = response.data.currentPage;
                            this.numberOfPages = response.data.lastPage;
                            this.loading = false;
                            this.$refs.productiveUnitFilter.hide();
                        })
                        .catch(error => {
                            this.loading = false;
                        });
                },

                searchProductiveUnits() {
                    this.loading = true;
                    axios
                        .get(
                            `${endPoint}/api/productiveunits/search?q=${this.filterOptions.name}`
                        )
                        .then(response => {
                            this.dataList = response.data;
                            this.loading = false;
                            this.$refs.productiveUnitFilter.hide();
                        })
                        .catch(error => {
                            this.loading = false;
                        });
                },


                getProductiveUnitsOptions() {
                    this.loading = true;
                    axios
                        .get(`${endPoint}/api/productiveunits/options`)
                        .then(response => {
                            this.options = response.data;
                            this.loading = false;
                        })
                        .catch(error => {
                            this.loading = false;
                        });
                },

                addProperty(propertyName) {
                    console.log(this.optionsSelected[propertyName]);
                },

                zoomUpdate(zoom) {
                    this.currentZoom = zoom;
                },
                centerUpdate(center) {
                    this.currentCenter = center;
                }
            },

            mounted() {
                this.getProductiveUnitsOptions();
            }

        })
    </script>

</body>


</html>